@charset "ISO-8859-1";



@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


*{box-sizing: border-box; margin: 0;}

body{
    background-color: #F5F5F5 !important;
}

/*TEXTOS*/
h1 span{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
}

.grande{
    color: white;

}

.info{
    color: white;
}

.nav-item a{
    font-family: 'Montserrat';
}

p{
    font-family: 'Roboto', sans-serif;
    
}

.card-title{
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.card-text{
    font-size: 16px;
}

/*NAV*/
#menu{
    width: 100%;
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
}

.navbar{
    width: 100%;
    border-radius: 0;
    background-color: #E9E9E9;
}


/*HEADER*/
header{
    width: 100%;
    height: 70vh;
    background: linear-gradient(to right,#0070C0, #004E86);
    /*background-image: url(/img/wave_background\ \(4\).jpg);*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 200px;
}

.imagen-header{
    margin-left: 150px; /*cambiarlo en el media query*/
}

/*CARDS*/
#cards{
    margin-top: -8vh;
    width: 100%;
}

.cards-display{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.248);
    margin-bottom: 30px;
    width: 90%;
    background-color: #ffffff !important;
    height: 20vh !important;
    border: 0px !important;
}

.card-title{
    color: #004E86 !important;
}

.card-link{
    background-color: #FFC000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 3px;
    color: black;
    border-radius: 15px;
    text-decoration: none;
    
}

/*VENTAJAS*/
#ventajas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
}

.ventajas-texto{
    width: 500px;
    margin-right: 50px;
}

.ventajas-texto ul{
    padding: 0;
}

.ventajas-texto li{
    list-style-type: none;
    display: flex;
}

.ventajas-texto li i{
    margin-right: 20px;
}

/*FOOTER*/
footer{
    background-color: #333333;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    color: white ;
}

footer h2{
    margin-bottom: 40px;
}

footer a{
    color: #FFC000;
}

footer .row{
    width: 80%;
}

footer .row .col-12{
    margin-bottom: 40px;
}

footer .row ul{
    list-style-type: none;
}


